body {
    background: #000000;
    color: white;
    text-align: center;
}

table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
}

td {
    padding: 10px;
    text-align: center;
    border: 1px solid #ddd;
}